---
import Layout from '@/layouts/Layout.astro';
import UpdateBlogPage from '@/components/svelte-pages/UpdateBlogPage.svelte';

import { getAll } from 'backend/categories';
---

<Layout title="blog">
	<main class="container mx-auto">
		<UpdateBlogPage client:load blogId={Astro.params.id!} />
	</main>
</Layout>
