---
import Layout from '@/layouts/Layout.astro';
import AdminControls from '@/components/AdminControls.tsx';
---

<Layout title="Admin">
	<main>
		<nav class="container mx-auto p-4">
			<ul class="flex gap-x-4">
				<li><a class="link" href="/blogs/new">New Blog</a></li>
			</ul>
		</nav>

		<section class="container mx-auto p-4">
			<AdminControls client:load />
		</section>
	</main>
</Layout>
