@use '~ui/src/link/link';

$border-color: var(--primary-text-color);
$inset-bg: var(--card-bg-color);

$normal-font-size: 1.25rem;

@mixin code-box() {
	background-color: $inset-bg;
	border-radius: 3px;
	border: 1px solid $border-color;
}

.blog-frame {
	display: grid;

	h1 {
		font-size: 2.5rem;
		border-bottom: 2px solid $border-color;
		padding-bottom: 0.4rem;
		margin-top: 1rem;
		margin-bottom: 1.5rem;

		line-height: 1.2;
	}

	h2 {
		font-size: 2rem;
		border-bottom: 1px solid $border-color;

		margin: 1rem 0;
		padding-bottom: 0.5rem;

		line-height: 1.2;
	}

	p {
		font-size: $normal-font-size;

		code {
			@include code-box();
			vertical-align: middle;
			white-space: nowrap;

			font-size: 14px;

			padding: 0.2rem 0.4rem;
		}
	}

	ul {
		list-style-type: disclosure-closed;
	}

	a {
		@include link.link();
	}

	pre {
		@include code-box();

		margin-bottom: 1rem;
		display: grid;
		overflow-x: auto;

		> code {
			min-width: max-content;
			padding: 1rem;

			font-size: 1rem;
			white-space: pre-wrap;
		}
	}

	p {
		margin-bottom: 1rem;
	}

	img {
		margin: auto;
		max-height: 500px;
		max-width: 100%;
	}
}
