@use '~ui/src/link/link';

$border-color: var(--primary-text-color);
$inset-bg: var(--card-bg-color);

$normal-font-size: 1.25rem;

.blog-frame {
	h1 {
		font-size: 2.5rem;
		border-bottom: 2px solid $border-color;
		padding-bottom: 0.4rem;
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		text-align: balance;

		line-height: 1.2;
	}

	h2 {
		font-size: 2rem;
		border-bottom: 1px solid $border-color;

		margin: 1rem 0;
		padding-bottom: 0.5rem;

		line-height: 1.2;
	}

	p {
		font-size: $normal-font-size;
	}

	ul {
		list-style-type: disclosure-closed;
	}

	a {
		@include link.link();
	}

	pre {
		margin-bottom: 1rem;

		> code {
			display: block;
			overflow-x: auto;
			padding: 1rem;

			font-size: 1rem;
		}
	}

	code {
		background-color: $inset-bg;
		border-radius: 3px;
		border: 1px solid $border-color;
		vertical-align: middle;

		font-size: 11px;

		padding: 0.2rem 0.4rem;
	}

	p {
		margin-bottom: 1rem;
	}

	img {
		margin: auto;
		max-height: 500px;
		max-width: 100%;
	}
}
