---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Register from '@/components/svelte-pages/Register.svelte';
---

<BaseLayout title="Sign in">
	<main class="grid place-content-center h-screen">
		<Register client:load />
	</main>
</BaseLayout>
