@mixin blue-gradient {
	background: rgb(131, 58, 180);
	background: -moz-linear-gradient(
		349deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	background: -webkit-linear-gradient(
		349deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	background: linear-gradient(
		349deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);

	color: theme('colors.white');
}

@mixin primary-solid() {
	background-color: theme('colors.primary.DEFAULT');
	color: theme('colors.text');
}

@mixin accent-solid() {
	background-color: theme('colors.accent.DEFAULT');
	color: theme('colors.white');
}

@mixin warning-solid() {
	background-color: theme('colors.warning.500');
	color: theme('colors.white');
}
