---
import BaseLayout from '@/layouts/BaseLayout.astro';
import RegisterPage from '@/components/svelte-pages/Register.svelte';
---

<BaseLayout title="Sign in">
	<main class="grid place-content-center h-screen">
		<RegisterPage client:load />
	</main>
</BaseLayout>
