---
import Layout from '@/layouts/Layout.astro';
import Blogs from '@/components/svelte-pages/Blogs.svelte';

import { load } from '@/components/svelte-pages/blogs-data';

const data = await load(Astro.url);
---

<Layout title="Blogs">

	<header></header>
<main class="container mx-auto my-4">


		<Blogs client:load url={Astro.url} serverData={data} />
	</main>
</Layout>
