.form-field.primary {
	--active-color: var(--primary-color);
}

.form-field.accent {
	--active-color: var(--accent-color);
}

.form-field {
	--active-color: var(--accent-color);
	--inactive-color: var(--primary-text-color);

	input,
	select,
	textarea {
		background-color: transparent;
		color: var(--primary-text-color);
		border: none;
		outline: none;
	}
}
