---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Admin">

	<main>
		<nav class="container mx-auto p-4">
			<ul class="flex gap-x-4">
				<li><a class="link" href="/blogs/new">New Blog</a></li>
			</ul>
		</nav>
	</main>
</Layout>
